<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.mbg.nczd">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.auth.LoginActivity">
        </activity>
        <activity android:name=".activities.register.RegisterActivity">
        </activity>
        <activity android:name=".activities.recovery.RecoveryActivity">
        </activity>
        <activity android:name=".activities.personalinfo.PersonalInfoActivity">
        </activity>
        <activity android:name=".activities.reception.ReceptionActivity">
        </activity>
        <activity android:name=".activities.kidz.AddKidzActivity">
        </activity>
        <activity android:name=".activities.kidz.ChildInfoActivity">
        </activity>
        <activity android:name=".activities.reception.ReceptionInfoActivity">
        </activity>
    </application>

</manifest>